body{
    height: 100vh; width: 100vw;
    margin: 0; padding: 0;
    background-color: #393e46;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mainPart{
    height: 90vh; width: 60vw;
    background-color:#222831;
    border-radius: 30px;

    flex-direction: column;

}
#screen{
width: 60vw; height: 30vh;
}

#keyboard{
width: 60vw; height: 60vh;
display: grid;
grid-template-columns: repeat(4, auto);

}
.buton{
    background-color: #FFD369;
    color: black;
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
    font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}